In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("../data/Amazon_top100.xlsx")
df.head(3)

,Unnamed: 0,price,ranks,title,no_of_reviews,ratings,author,cover_type,year,genre
0,0,12.49,1.0,The Lost Symbol,16118.0,4.4,Dan Brown,Hardcover,2009,Fiction
1,1,13.40,2.0,The Shack: Where Tragedy Confronts Eternity,23392.0,4.7,William P. Young,Paperback,2009,Fiction
2,2,9.93,3.0,Liberty and Tyranny: A Conservative Manifesto,5036.0,4.8,Mark R. Levin,Hardcover,2009,Non Fiction

In [3]:
df

,Unnamed: 0,price,ranks,title,no_of_reviews,ratings,author,cover_type,year,genre
0,0,12.49,1.0,The Lost Symbol,16118.0,4.4,Dan Brown,Hardcover,2009,Fiction
1,1,13.40,2.0,The Shack: Where Tragedy Confronts Eternity,23392.0,4.7,William P. Young,Paperback,2009,Fiction
2,2,9.93,3.0,Liberty and Tyranny: A Conservative Manifesto,5036.0,4.8,Mark R. Levin,Hardcover,2009,Non Fiction
3,3,14.30,4.0,"Breaking Dawn (The Twilight Saga, Book 4)",16912.0,4.7,Stephenie Meyer,Hardcover,2009,Fiction
4,4,9.99,5.0,Going Rogue: An American Life,1572.0,4.6,Sarah Palin,Hardcover,2009,Non Fiction
...,...,...,...,...,...,...,...,...,...,...
1286,1286,16.69,96.0,Will,21401.0,4.8,Will Smith,Hardcover,2021,Non Fiction
1287,1287,7.49,97.0,Think and Grow Rich: The Landmark Bestseller N...,79872.0,4.7,Napoleon Hill,Paperback,2021,Non Fiction
1288,1288,8.95,98.0,Dragons Love Tacos,15753.0,4.8,Adam Rubin,Hardcover,2021,Fiction
1289,1289,7.59,99.0,The Truth About COVID-19: Exposing The Great R...,7246.0,4.8,Doctor Joseph Mercola,Hardcover,2021,Non Fiction
1290,1290,13.29,100.0,First Little Readers Parent Pack: Guided Readi...,27332.0,4.7,Deborah Schecter,Paperback,2021,Non Fiction

In [4]:
df.shape

(1291, 10)

In [5]:
df.drop(df[df["title"].isnull()].index, inplace=True)

In [6]:
df = df.dropna(how="all", axis= 1)

In [ ]:
df['title'] = df['title'].str.strip()
df['author'] = df['author'].str.strip()
df['cover_type'] = df['cover_type'].str.strip()
df['genre'] = df['genre'].str.strip()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1286 entries, 0 to 1290
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1286 non-null   int64
 1   price          1286 non-null   float64
 2   ranks          1286 non-null   float64
 3   title          1286 non-null   object
 4   no_of_reviews  1286 non-null   float64
 5   ratings        1286 non-null   float64
 6   author         1286 non-null   object
 7   cover_type     1286 non-null   object
 8   year           1286 non-null   int64
 9   genre          1285 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 110.5+ KB

In [8]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [15]:
df["title"] = df["title"].astype(str)

In [17]:
df_duplicated = df[df.duplicated("title", keep=False)].sort_values(by="title")

In [18]:
df_duplicated

,price,ranks,title,no_of_reviews,ratings,author,cover_type,year,genre
738,9.05,47.0,10-Day Green Smoothie Cleanse,32825.0,4.7,JJ Smith,Paperback,2016,Non Fiction
886,9.05,95.0,10-Day Green Smoothie Cleanse,32825.0,4.7,JJ Smith,Paperback,2017,Non Fiction
647,9.05,56.0,10-Day Green Smoothie Cleanse,32825.0,4.7,JJ Smith,Paperback,2015,Non Fiction
1063,18.14,73.0,12 Rules for Life: An Antidote to Chaos,58074.0,4.8,Jordan B. Peterson,Hardcover,2019,Non Fiction
1271,18.14,81.0,12 Rules for Life: An Antidote to Chaos,58074.0,4.8,Jordan B. Peterson,Hardcover,2021,Non Fiction
...,...,...,...,...,...,...,...,...,...
804,8.45,13.0,You Are a Badass: How to Stop Doubting Your Gr...,35414.0,4.7,Jen Sincero,Paperback,2017,Non Fiction
909,8.45,18.0,You Are a Badass: How to Stop Doubting Your Gr...,35414.0,4.7,Jen Sincero,Paperback,2018,Non Fiction
725,8.45,34.0,You Are a Badass: How to Stop Doubting Your Gr...,35414.0,4.7,Jen Sincero,Paperback,2016,Non Fiction
1041,13.49,51.0,Zen as F*ck (Zen as F*ck Journals),23862.0,4.7,Monica Sweeney,Paperback,2019,Non Fiction
1185,13.49,95.0,Zen as F*ck (Zen as F*ck Journals),23862.0,4.7,Monica Sweeney,Paperback,2020,Non Fiction

In [22]:
estats_duplicated = df_duplicated.groupby("title")[["price", "no_of_reviews", "ratings"]].agg(["count", "max", "min"])

In [ ]:
estats_duplicated

In [23]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(estats_duplicated):
    # Created column 'Diference ratings' from formula
    estats_duplicated['Diference ratings'] = estats_duplicated["ratings"]["max"] - estats_duplicated["ratings"]["min"] 
    # Created column 'Diference ratings' from formula
    estats_duplicated['Diference price'] = estats_duplicated["price"]["max"] - estats_duplicated["price"]["min"] 
    # Created column 'Diference ratings' from formula
    estats_duplicated['Diference_no_of_reviews'] = estats_duplicated["no_of_reviews"]["max"] - estats_duplicated["no_of_reviews"]["min"] 
    return estats_duplicated

estats_duplicated_clean = clean_data(estats_duplicated.copy())
estats_duplicated_clean.head()

                                                   price                \
                                                   count    max    min
title
10-Day Green Smoothie Cleanse                          3   9.05   9.05
12 Rules for Life: An Antidote to Chaos                3  18.14  18.14
1984                                                   3   7.48   7.48
A Dance with Dragons (A Song of Ice and Fire)          2  24.31  24.31
A Game of Thrones / A Clash of Kings / A Storm ...     2  25.64  25.64

                                                   no_of_reviews           \
                                                           count      max
title
10-Day Green Smoothie Cleanse                                  3  32825.0
12 Rules for Life: An Antidote to Chaos                        3  58074.0
1984                                                           3  72441.0
A Dance with Dragons (A Song of Ice and Fire)                  2  17252.0
A Game of Thrones / A Clash of Kings / A Storm ...             2  33321.0

                                                            ratings            \
                                                        min   count  max  min
title
10-Day Green Smoothie Cleanse                       32825.0       3  4.7  4.7
12 Rules for Life: An Antidote to Chaos             58074.0       3  4.8  4.8
1984                                                72441.0       3  4.7  4.7
A Dance with Dragons (A Song of Ice and Fire)       17252.0       2  4.5  4.5
A Game of Thrones / A Clash of Kings / A Storm ...  33321.0       2  4.7  4.7

                                                   Diference ratings  \

title
10-Day Green Smoothie Cleanse                                    0.0
12 Rules for Life: An Antidote to Chaos                          0.0
1984                                                             0.0
A Dance with Dragons (A Song of Ice and Fire)                    0.0
A Game of Thrones / A Clash of Kings / A Storm ...               0.0

                                                   Diference price  \

title
10-Day Green Smoothie Cleanse                                  0.0
12 Rules for Life: An Antidote to Chaos                        0.0
1984                                                           0.0
A Dance with Dragons (A Song of Ice and Fire)                  0.0
A Game of Thrones / A Clash of Kings / A Storm ...             0.0

                                                   Diference_no_of_reviews

title
10-Day Green Smoothie Cleanse                                          0.0
12 Rules for Life: An Antidote to Chaos                                0.0
1984                                                                   0.0
A Dance with Dragons (A Song of Ice and Fire)                          0.0
A Game of Thrones / A Clash of Kings / A Storm ...                     0.0

In [ ]:
# Created column 'Diference ratings' from formula
estats_duplicated['Diference ratings'] = estats_duplicated["ratings"]["max"] - estats_duplicated["ratings"]["min"] 

# Created column 'Diference ratings' from formula
estats_duplicated['Diference price'] = estats_duplicated["price"]["max"] - estats_duplicated["price"]["min"]

In [10]:
#df_merge = pd.merge(df[df["year"] == 2009], df[df["year"] == 2010], left_on= "title", right_on= "title", how= "outer", suffixes=["_2009","_2010"])

In [24]:
years = df["year"].unique()
df_merge = df[df["year"] == years.min()]
print(df_merge.shape)
for year in years:
    print("for año: ", year)
    if year < years.max():
        print("while año:", year)
        df_merge = pd.merge(df_merge, df[df["year"] == year + 1], left_on= "title", right_on= "title", how= "outer", suffixes=["","_"+ str(year)])
        print(df_merge.shape)
        print(df_merge.describe())
    else: break

(97, 9)
for año:  2009
while año: 2009
(168, 17)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  97.000000  97.000000      97.000000  97.000000    97.0   97.000000
mean   16.698454  50.010309    8121.329897   4.577320  2009.0   15.888866
std    10.340036  29.020286   10897.354522   0.202847     0.0    7.321731
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.760000  25.000000    1787.000000   4.500000  2009.0   10.980000
50%    14.490000  51.000000    4784.000000   4.600000  2009.0   14.190000
75%    18.490000  75.000000   10693.000000   4.700000  2009.0   18.290000
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009
count   97.000000           97.000000     97.000000       97.0
mean    49.494845         8310.175258      4.574227     2010.0
std     28.581799         9355.872055      0.186681        0.0
min      1.000000           88.000000      4.000000     2010.0
25%     25.000000         1778.000000      4.500000     2010.0
50%     49.000000         5025.000000      4.600000     2010.0
75%     74.000000        11051.000000      4.700000     2010.0
max     98.000000        42770.000000      4.900000     2010.0
for año:  2010
while año: 2010
(229, 25)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0   99.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.846263
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.252767
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.050000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   13.990000
75%    18.390000  74.500000   11163.500000   4.700000  2009.0   18.265000
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009  price_2010  \
count   99.000000            99.00000     99.000000       99.0   99.000000
mean    48.575758          8507.30303      4.578788     2010.0   16.588081
std     29.010938          9362.15135      0.187504        0.0    8.685155
min      1.000000            88.00000      4.000000     2010.0    6.790000
25%     23.500000          1779.50000      4.500000     2010.0   11.200000
50%     48.000000          5331.00000      4.600000     2010.0   14.530000
75%     73.500000         11691.00000      4.700000     2010.0   18.590000
max     98.000000         42770.00000      4.900000     2010.0   59.900000

       ranks_2010  no_of_reviews_2010  ratings_2010  year_2010
count   99.000000           99.000000     99.000000       99.0
mean    50.505051        11295.727273      4.580808     2011.0
std     29.159090        12796.183266      0.202372        0.0
min      1.000000          303.000000      3.500000     2011.0
25%     25.500000         3664.500000      4.500000     2011.0
50%     51.000000         6580.000000      4.600000     2011.0
75%     75.500000        15942.000000      4.700000     2011.0
max    100.000000        91628.000000      4.900000     2011.0
for año:  2011
while año: 2011
(286, 33)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0   99.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.846263
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.252767
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.050000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   13.990000
75%    18.390000  74.500000   11163.500000   4.700000  2009.0   18.265000
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009  price_2010  \
count   99.000000            99.00000     99.000000       99.0   99.000000
mean    48.575758          8507.30303      4.578788     2010.0   16.588081
std     29.010938          9362.15135      0.187504        0.0    8.685155
min      1.000000            88.00000      4.000000     2010.0    6.790000
25%     23.500000          1779.50000      4.500000     2010.0   11.200000
50%     48.000000          5331.00000      4.600000     2010.0   14.530000
75%     73.500000         11691.00000      4.700000     2010.0   18.590000
max     98.000000         42770.00000      4.900000     2010.0   59.900000

       ranks_2010  no_of_reviews_2010  ratings_2010  year_2010  price_2011  \
count   99.000000           99.000000     99.000000       99.0   99.000000
mean    50.505051        11295.727273      4.580808     2011.0   16.691919
std     29.159090        12796.183266      0.202372        0.0    8.378876
min      1.000000          303.000000      3.500000     2011.0    4.890000
25%     25.500000         3664.500000      4.500000     2011.0   11.840000
50%     51.000000         6580.000000      4.600000     2011.0   15.710000
75%     75.500000        15942.000000      4.700000     2011.0   19.840000
max    100.000000        91628.000000      4.900000     2011.0   59.900000

       ranks_2011  no_of_reviews_2011  ratings_2011  year_2011
count   99.000000           99.000000     99.000000       99.0
mean    50.020202        15593.020202      4.578788     2012.0
std     28.757601        15951.998755      0.225548        0.0
min      1.000000           50.000000      3.400000     2012.0
25%     25.500000         4443.000000      4.500000     2012.0
50%     50.000000        10687.000000      4.600000     2012.0
75%     74.500000        20166.000000      4.700000     2012.0
max    100.000000        86676.000000      4.900000     2012.0
for año:  2012
while año: 2012
(346, 41)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0   99.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.846263
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.252767
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.050000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   13.990000
75%    18.390000  74.500000   11163.500000   4.700000  2009.0   18.265000
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009  ...  \
count   99.000000            99.00000     99.000000       99.0  ...
mean    48.575758          8507.30303      4.578788     2010.0  ...
std     29.010938          9362.15135      0.187504        0.0  ...
min      1.000000            88.00000      4.000000     2010.0  ...
25%     23.500000          1779.50000      4.500000     2010.0  ...
50%     48.000000          5331.00000      4.600000     2010.0  ...
75%     73.500000         11691.00000      4.700000     2010.0  ...
max     98.000000         42770.00000      4.900000     2010.0  ...

       price_2011  ranks_2011  no_of_reviews_2011  ratings_2011  year_2011  \
count   99.000000   99.000000           99.000000     99.000000       99.0
mean    16.691919   50.020202        15593.020202      4.578788     2012.0
std      8.378876   28.757601        15951.998755      0.225548        0.0
min      4.890000    1.000000           50.000000      3.400000     2012.0
25%     11.840000   25.500000         4443.000000      4.500000     2012.0
50%     15.710000   50.000000        10687.000000      4.600000     2012.0
75%     19.840000   74.500000        20166.000000      4.700000     2012.0
max     59.900000  100.000000        86676.000000      4.900000     2012.0

       price_2012  ranks_2012  no_of_reviews_2012  ratings_2012  year_2012
count  100.000000  100.000000          100.000000    100.000000      100.0
mean    16.737600   50.500000        18583.250000      4.592000     2013.0
std     15.965299   29.011492        18173.283066      0.232544        0.0
min      4.440000    1.000000          278.000000      3.800000     2013.0
25%     10.155000   25.750000         6172.750000      4.500000     2013.0
50%     13.975000   50.500000        12292.000000      4.600000     2013.0
75%     17.240000   75.250000        24561.750000      4.725000     2013.0
max    144.000000  100.000000        86676.000000      4.900000     2013.0

[8 rows x 25 columns]
for año:  2013
while año: 2013
(399, 49)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0  100.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.833200
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.217227
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.085000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   14.090000
75%    18.390000  74.500000   11163.500000   4.700000  2009.0   18.252500
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009  ...  \
count  100.000000           100.00000    100.000000      100.0  ...
mean    48.230000          8758.52000      4.581000     2010.0  ...
std     29.070397          9647.56561      0.187861        0.0  ...
min      1.000000            88.00000      4.000000     2010.0  ...
25%     22.750000          1780.25000      4.500000     2010.0  ...
50%     47.500000          5404.00000      4.600000     2010.0  ...
75%     73.250000         12043.25000      4.700000     2010.0  ...
max     98.000000         42770.00000      4.900000     2010.0  ...

       price_2012  ranks_2012  no_of_reviews_2012  ratings_2012  year_2012  \
count  102.000000  102.000000          102.000000    102.000000      102.0
mean    16.660392   50.147059        19157.264706      4.595098     2013.0
std     15.817850   28.949392        18557.349190      0.231387        0.0
min      4.440000    1.000000          278.000000      3.800000     2013.0
25%     10.312500   25.250000         6310.500000      4.500000     2013.0
50%     13.975000   50.500000        12572.000000      4.650000     2013.0
75%     17.070000   74.750000        27087.000000      4.775000     2013.0
max    144.000000  100.000000        86676.000000      4.900000     2013.0

       price_2013  ranks_2013  no_of_reviews_2013  ratings_2013  year_2013
count   99.000000   99.000000           99.000000     99.000000       99.0
mean    15.503232   50.505051        20866.040404      4.653535     2014.0
std     16.735099   29.159090        19449.736623      0.198110        0.0
min      3.970000    1.000000          278.000000      3.900000     2014.0
25%      7.870000   25.500000         6275.000000      4.600000     2014.0
50%     11.060000   51.000000        15170.000000      4.700000     2014.0
75%     17.545000   75.500000        30755.000000      4.800000     2014.0
max    144.000000  100.000000        86676.000000      4.900000     2014.0

[8 rows x 30 columns]
for año:  2014
while año: 2014
(452, 57)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0  100.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.833200
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.217227
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.085000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   14.090000
75%    18.390000  74.500000   11163.500000   4.700000  2009.0   18.252500
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009  ...  \
count  100.000000           100.00000    100.000000      100.0  ...
mean    48.230000          8758.52000      4.581000     2010.0  ...
std     29.070397          9647.56561      0.187861        0.0  ...
min      1.000000            88.00000      4.000000     2010.0  ...
25%     22.750000          1780.25000      4.500000     2010.0  ...
50%     47.500000          5404.00000      4.600000     2010.0  ...
75%     73.250000         12043.25000      4.700000     2010.0  ...
max     98.000000         42770.00000      4.900000     2010.0  ...

       price_2013  ranks_2013  no_of_reviews_2013  ratings_2013  year_2013  \
count   99.000000   99.000000           99.000000     99.000000       99.0
mean    15.503232   50.505051        20866.040404      4.653535     2014.0
std     16.735099   29.159090        19449.736623      0.198110        0.0
min      3.970000    1.000000          278.000000      3.900000     2014.0
25%      7.870000   25.500000         6275.000000      4.600000     2014.0
50%     11.060000   51.000000        15170.000000      4.700000     2014.0
75%     17.545000   75.500000        30755.000000      4.800000     2014.0
max    144.000000  100.000000        86676.000000      4.900000     2014.0

       price_2014  ranks_2014  no_of_reviews_2014  ratings_2014  year_2014
count  101.000000  101.000000          101.000000    101.000000      101.0
mean    12.711782   50.613861        22247.801980      4.658416     2015.0
std     14.448264   28.888742        22620.396619      0.204092        0.0
min      3.970000    1.000000         1060.000000      3.700000     2015.0
25%      7.480000   26.000000         6646.000000      4.600000     2015.0
50%      9.990000   51.000000        13911.000000      4.700000     2015.0
75%     14.390000   75.000000        31128.000000      4.800000     2015.0
max    144.000000  100.000000        99932.000000      4.900000     2015.0

[8 rows x 35 columns]
for año:  2015
while año: 2015
(497, 65)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0  100.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.833200
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.217227
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.085000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   14.090000
75%    18.390000  74.500000   11163.500000   4.700000  2009.0   18.252500
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009  ...  \
count  100.000000           100.00000    100.000000      100.0  ...
mean    48.230000          8758.52000      4.581000     2010.0  ...
std     29.070397          9647.56561      0.187861        0.0  ...
min      1.000000            88.00000      4.000000     2010.0  ...
25%     22.750000          1780.25000      4.500000     2010.0  ...
50%     47.500000          5404.00000      4.600000     2010.0  ...
75%     73.250000         12043.25000      4.700000     2010.0  ...
max     98.000000         42770.00000      4.900000     2010.0  ...

       price_2014  ranks_2014  no_of_reviews_2014  ratings_2014  year_2014  \
count  101.000000  101.000000          101.000000    101.000000      101.0
mean    12.711782   50.613861        22247.801980      4.658416     2015.0
std     14.448264   28.888742        22620.396619      0.204092        0.0
min      3.970000    1.000000         1060.000000      3.700000     2015.0
25%      7.480000   26.000000         6646.000000      4.600000     2015.0
50%      9.990000   51.000000        13911.000000      4.700000     2015.0
75%     14.390000   75.000000        31128.000000      4.800000     2015.0
max    144.000000  100.000000        99932.000000      4.900000     2015.0

       price_2015  ranks_2015  no_of_reviews_2015  ratings_2015  year_2015
count   98.000000   98.000000           98.000000     98.000000       98.0
mean    11.569796   50.102041        25714.489796      4.693878     2016.0
std      6.700716   28.932374        23930.513158      0.172200        0.0
min      1.500000    1.000000         1089.000000      4.100000     2016.0
25%      7.507500   25.250000         9261.500000      4.600000     2016.0
50%      9.485000   50.500000        15468.500000      4.700000     2016.0
75%     14.187500   74.750000        33398.000000      4.800000     2016.0
max     38.860000  100.000000        99932.000000      4.900000     2016.0

[8 rows x 40 columns]
for año:  2016
while año: 2016
(546, 73)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0  100.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.833200
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.217227
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.085000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   14.090000
75%    18.390000  74.500000   11163.500000   4.700000  2009.0   18.252500
max    82.150000  99.000000   79094.000000   4.900000  2009.0   44.990000

       ranks_2009  no_of_reviews_2009  ratings_2009  year_2009  ...  \
count  100.000000           100.00000    100.000000      100.0  ...
mean    48.230000          8758.52000      4.581000     2010.0  ...
std     29.070397          9647.56561      0.187861        0.0  ...
min      1.000000            88.00000      4.000000     2010.0  ...
25%     22.750000          1780.25000      4.500000     2010.0  ...
50%     47.500000          5404.00000      4.600000     2010.0  ...
75%     73.250000         12043.25000      4.700000     2010.0  ...
max     98.000000         42770.00000      4.900000     2010.0  ...

       price_2015  ranks_2015  no_of_reviews_2015  ratings_2015  year_2015  \
count   98.000000   98.000000           98.000000     98.000000       98.0
mean    11.569796   50.102041        25714.489796      4.693878     2016.0
std      6.700716   28.932374        23930.513158      0.172200        0.0
min      1.500000    1.000000         1089.000000      4.100000     2016.0
25%      7.507500   25.250000         9261.500000      4.600000     2016.0
50%      9.485000   50.500000        15468.500000      4.700000     2016.0
75%     14.187500   74.750000        33398.000000      4.800000     2016.0
max     38.860000  100.000000        99932.000000      4.900000     2016.0

       price_2016  ranks_2016  no_of_reviews_2016  ratings_2016  year_2016
count   99.000000   99.000000           99.000000     99.000000       99.0
mean    11.592020   50.232323        27150.858586      4.687879     2017.0
std      5.813104   29.034753        21861.933882      0.164920        0.0
min      1.170000    1.000000         2345.000000      4.100000     2017.0
25%      7.865000   25.500000        11819.000000      4.600000     2017.0
50%     10.400000   50.000000        21527.000000      4.700000     2017.0
75%     14.140000   74.500000        35095.500000      4.800000     2017.0
max     38.860000  100.000000        94750.000000      4.900000     2017.0

[8 rows x 45 columns]
for año:  2017
while año: 2017
(597, 81)
           price      ranks  no_of_reviews    ratings    year  price_2009  \
count  99.000000  99.000000      99.000000  99.000000    99.0  100.000000
mean   16.616869  49.141414    8322.272727   4.581818  2009.0   15.833200
std    10.249902  29.359492   10876.908363   0.203221     0.0    7.217227
min     5.910000   1.000000      60.000000   3.500000  2009.0    6.990000
25%    10.775000  23.500000    1853.500000   4.500000  2009.0   11.085000
50%    14.300000  48.000000    4841.000000   4.600000  2009.0   14.090000

In [25]:
df_merge

# aquí hay valores duplicados pero en realidad están

,price,ranks,title,no_of_reviews,ratings,author,cover_type,year,genre,price_2009,...,year_2019,genre_2019,price_2020,ranks_2020,no_of_reviews_2020,ratings_2020,author_2020,cover_type_2020,year_2020,genre_2020
0,NaN,NaN,10-Day Green Smoothie Cleanse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10-Day Green Smoothie Cleanse: Lose Up to 15 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,11/22/63: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,12 Rules for Life: An Antidote to Chaos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18.14,81.0,58074.0,4.8,Jordan B. Peterson,Hardcover,2021.0,Non Fiction
4,NaN,NaN,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020.0,Fiction,7.48,24.0,72441.0,4.7,George Orwell,Mass Market Paperback,2021.0,Fiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,NaN,NaN,Xanathar's Guide to Everything (Dungeons & Dra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,NaN,NaN,Yes Please,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,NaN,NaN,You Are a Badass: How to Stop Doubting Your Gr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,NaN,NaN,ZEALOT: The Life and Times of Jesus of Nazareth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748,NaN,NaN,Zen as F*ck (Zen as F*ck Journals),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020.0,Non Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_merge_dup =  df_merge[df_merge.duplicated("title", keep=False)]

In [ ]:
df_merge_dup

In [ ]:
df_merge.filter(like='genre')

In [ ]:
df

In [ ]:
df_merge["title"].value_counts(ascending=False)

In [ ]:
df_merge[df_merge["title"] == "The Help"]

In [ ]:
years = df["year"].unique()
df = df.copy()
for year in years:
    print(year)
    df_year = df[df["Year"] == year].copy()
    df_year["top_50_" + str(year)] = range(1, len(df_year) + 1)
    df_amazon_ranking = pd.merge(df_amazon_ranking,df_year, how="left")

In [22]:
df.to_csv("../data/amazon100a.csv")