In [2]:
import pandas as pd
import numpy as np
import os
import shutil
import matplotlib.pyplot as plt
plt.style.use('seaborn-v0_8-pastel')
import seaborn as sns
sns.set_style("white")

In [3]:
df_t100am = pd.read_excel("../data/BBDD_EDA/Amazon_top100.xlsx")

In [4]:

def clean_top100amazon(df):
    df.drop(df[df["title"].isnull()].index, inplace=True)
    df.drop(columns=['Unnamed: 0'], inplace=True)
    df = df.dropna(how="all", axis= 1)
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    for column in df.columns:
        if df[column].dtype == object:
            print("tipo columna: ", df[column].dtype)
            df[column] = df[column].str.lower()
            df[column] = df[column].astype(str).str.strip()
    return df

df_amazon = clean_top100amazon(df_t100am)

tipo columna:  object
tipo columna:  object
tipo columna:  object
tipo columna:  object

In [6]:
df_amazon.head(3)

,price,ranks,title,no_of_reviews,ratings,author,cover_type,year,genre
0,12.49,1.0,the lost symbol,16118.0,4.4,dan brown,hardcover,2009,fiction
1,13.40,2.0,the shack: where tragedy confronts eternity,23392.0,4.7,william p. young,paperback,2009,fiction
2,9.93,3.0,liberty and tyranny: a conservative manifesto,5036.0,4.8,mark r. levin,hardcover,2009,non fiction