In [1]:
import pandas as pd
import numpy as np

In [24]:
df_4_audible = pd.DataFrame(pd.read_csv("../data/Audible_Top_100_Final.csv", encoding='windows-1252'))
df_4_audible.head()

,Title,Categories,Author,Narrated By,Series,Length (Hours),Length (Minutes),ReleaseDate,Price,Ratings,...,3 Review Header,3 Review Body,3 Review helpful count,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
0,Learn Arabic Ultimate Bundle,Travel & Tourism,Global Citizen Language Learning,Mehdi Ben Mahmoud,NaN,13,28.0,12/4/2023,24.95,34,...,Unlock Arabic Fluency,This meticulously crafted audiobook collection...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Impossible First,Travel & Tourism,Colin O'Brady,Colin O'Brady,NaN,8,38.0,1/14/2020,18.74,1156,...,Inspiring,I can get bored with books. This one held my a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Buying Disney's World,Travel & Tourism,Aaron Goldberg,Susan L. Crawford,NaN,4,39.0,4/20/2021,14.95,151,...,For Disney fans,The story is very thorough and interesting. Th...,1 person found this helpful,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Learn Spanish in Your Car,Travel & Tourism,Glenda Greco,Shea Jean,NaN,10,10.0,5/26/2022,24.95,72,...,I am not enjoyed this listen.,I would not highly recommended to listen this ...,8 people found this helpful,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,For the Love of Europe,Travel & Tourism,Rick Steves,Rick Steves,NaN,10,38.0,8/11/2020,21.83,443,...,My most enjoyable travels experience in 2 years,This was almost as good as being able to trave...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_4_audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 44 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        2400 non-null   object
 1   Categories                   2400 non-null   object
 2   Author                       2400 non-null   object
 3   Narrated By                  2391 non-null   object
 4   Series                       661 non-null    object
 5   Length (Hours)               2400 non-null   int64
 6   Length (Minutes)             2351 non-null   float64
 7   ReleaseDate                  2400 non-null   object
 8   Price                        2338 non-null   float64
 9   Ratings                      2400 non-null   object
 10  Overall Rating Out of 5      2327 non-null   float64
 11  Performance Rating out of 5  2327 non-null   float64
 12  Story Rating out of 5        2327 non-null   float64
 13  Overall 5 stars amount       2327 non-null   float64
 14  Overall 4 star amount        2327 non-null   float64
 15  Overall 3 star amount        2327 non-null   float64
 16  Overall 2 star amount        2327 non-null   float64
 17  Overall 1 star amount        2327 non-null   float64
 18  Performance 5 star amount    2327 non-null   float64
 19  Performance 4 star amount    2327 non-null   float64
 20  Performance 3 star amount    2327 non-null   float64
 21  Performance 2 star amount    2327 non-null   float64
 22  Performance 1 star amount    2327 non-null   float64
 23  Story 5 star amount          2327 non-null   float64
 24  story 4 star amount          2327 non-null   float64
 25  Story 3 star amount          2327 non-null   float64
 26  Story 2 star amount          2327 non-null   float64
 27  Story 1 star amount          2327 non-null   float64
 28  1 Review header              2313 non-null   object
 29  1 Review body                2313 non-null   object
 30  1 Review helpful count       1579 non-null   object
 31  2 Review Header              2288 non-null   object
 32  2 Review body                2206 non-null   object
 33  2 Review helpful count       1324 non-null   object
 34  3 Review Header              2264 non-null   object
 35  3 Review Body                2200 non-null   object
 36  3 Review helpful count       1112 non-null   object
 37  Unnamed: 37                  0 non-null      float64
 38  Unnamed: 38                  0 non-null      float64
 39  Unnamed: 39                  0 non-null      float64
 40  Unnamed: 40                  0 non-null      float64
 41  Unnamed: 41                  0 non-null      float64
 42  Unnamed: 42                  0 non-null      float64
 43  Unnamed: 43                  0 non-null      float64
dtypes: float64(27), int64(1), object(16)
memory usage: 825.1+ KB

In [26]:
# eliminación de columnas en las que todos los valores son nulos
df_4_audible = df_4_audible.dropna(how="all", axis= 1)

In [27]:
df_4_audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        2400 non-null   object
 1   Categories                   2400 non-null   object
 2   Author                       2400 non-null   object
 3   Narrated By                  2391 non-null   object
 4   Series                       661 non-null    object
 5   Length (Hours)               2400 non-null   int64
 6   Length (Minutes)             2351 non-null   float64
 7   ReleaseDate                  2400 non-null   object
 8   Price                        2338 non-null   float64
 9   Ratings                      2400 non-null   object
 10  Overall Rating Out of 5      2327 non-null   float64
 11  Performance Rating out of 5  2327 non-null   float64
 12  Story Rating out of 5        2327 non-null   float64
 13  Overall 5 stars amount       2327 non-null   float64
 14  Overall 4 star amount        2327 non-null   float64
 15  Overall 3 star amount        2327 non-null   float64
 16  Overall 2 star amount        2327 non-null   float64
 17  Overall 1 star amount        2327 non-null   float64
 18  Performance 5 star amount    2327 non-null   float64
 19  Performance 4 star amount    2327 non-null   float64
 20  Performance 3 star amount    2327 non-null   float64
 21  Performance 2 star amount    2327 non-null   float64
 22  Performance 1 star amount    2327 non-null   float64
 23  Story 5 star amount          2327 non-null   float64
 24  story 4 star amount          2327 non-null   float64
 25  Story 3 star amount          2327 non-null   float64
 26  Story 2 star amount          2327 non-null   float64
 27  Story 1 star amount          2327 non-null   float64
 28  1 Review header              2313 non-null   object
 29  1 Review body                2313 non-null   object
 30  1 Review helpful count       1579 non-null   object
 31  2 Review Header              2288 non-null   object
 32  2 Review body                2206 non-null   object
 33  2 Review helpful count       1324 non-null   object
 34  3 Review Header              2264 non-null   object
 35  3 Review Body                2200 non-null   object
 36  3 Review helpful count       1112 non-null   object
dtypes: float64(20), int64(1), object(16)
memory usage: 693.9+ KB

In [28]:
# eliminación de las columnas que son los textos de las 3 primeras reviews.
df_4_audible = df_4_audible.iloc[:,:-9].copy()

In [29]:
df_4_audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        2400 non-null   object
 1   Categories                   2400 non-null   object
 2   Author                       2400 non-null   object
 3   Narrated By                  2391 non-null   object
 4   Series                       661 non-null    object
 5   Length (Hours)               2400 non-null   int64
 6   Length (Minutes)             2351 non-null   float64
 7   ReleaseDate                  2400 non-null   object
 8   Price                        2338 non-null   float64
 9   Ratings                      2400 non-null   object
 10  Overall Rating Out of 5      2327 non-null   float64
 11  Performance Rating out of 5  2327 non-null   float64
 12  Story Rating out of 5        2327 non-null   float64
 13  Overall 5 stars amount       2327 non-null   float64
 14  Overall 4 star amount        2327 non-null   float64
 15  Overall 3 star amount        2327 non-null   float64
 16  Overall 2 star amount        2327 non-null   float64
 17  Overall 1 star amount        2327 non-null   float64
 18  Performance 5 star amount    2327 non-null   float64
 19  Performance 4 star amount    2327 non-null   float64
 20  Performance 3 star amount    2327 non-null   float64
 21  Performance 2 star amount    2327 non-null   float64
 22  Performance 1 star amount    2327 non-null   float64
 23  Story 5 star amount          2327 non-null   float64
 24  story 4 star amount          2327 non-null   float64
 25  Story 3 star amount          2327 non-null   float64
 26  Story 2 star amount          2327 non-null   float64
 27  Story 1 star amount          2327 non-null   float64
dtypes: float64(20), int64(1), object(7)
memory usage: 525.1+ KB

In [31]:
df_4_audible.value_counts("Categories")

Categories
Arts & Entertainment                               100
Biographies & Memoirs                              100
Business & Careers                                 100
Children's Audiobooks                              100
Comedy & Humor                                     100
Computers & Technology                             100
Education & Learning                               100
Erotica                                            100
Health & Wellness                                  100
History                                            100
Home & Garden                                      100
LGBTQ+                                             100
Literature & Fiction                               100
Money & Finance                                    100
Mystery, Thriller & Suspense                       100
Politics & Social Sciences                         100
Relationships, Parenting & Personal Development    100
Religion & Spirituality                            100
Romance                                            100
Science & Engineering                              100
Science Fiction & Fantasy                          100
Sports & Outdoors                                  100
Teen & Young Adult                                 100
Travel & Tourism                                   100
Name: count, dtype: int64

In [38]:
# creacion de df con las columnas más apropiadas para análisis
df_audible = df_4_audible.iloc[:,0:13].copy()
df_audible

,Title,Categories,Author,Narrated By,Series,Length (Hours),Length (Minutes),ReleaseDate,Price,Ratings,Overall Rating Out of 5,Performance Rating out of 5,Story Rating out of 5
0,Learn Arabic Ultimate Bundle,Travel & Tourism,Global Citizen Language Learning,Mehdi Ben Mahmoud,NaN,13,28.0,12/4/2023,24.95,34,5.0,5.0,5.0
1,The Impossible First,Travel & Tourism,Colin O'Brady,Colin O'Brady,NaN,8,38.0,1/14/2020,18.74,1156,4.7,4.7,4.8
2,Buying Disney's World,Travel & Tourism,Aaron Goldberg,Susan L. Crawford,NaN,4,39.0,4/20/2021,14.95,151,4.5,4.4,4.5
3,Learn Spanish in Your Car,Travel & Tourism,Glenda Greco,Shea Jean,NaN,10,10.0,5/26/2022,24.95,72,3.2,4.3,4.3
4,For the Love of Europe,Travel & Tourism,Rick Steves,Rick Steves,NaN,10,38.0,8/11/2020,21.83,443,4.5,4.7,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,Born a Crime,Arts & Entertainment,Trevor Noah,Trevor Noah,NaN,8,44.0,11/15/2016,24.95,213710,4.9,4.9,4.9
2396,The Creative Act,Arts & Entertainment,Rick Rubin,Rick Rubin,NaN,5,45.0,1/17/2023,21.26,3252,4.8,4.8,4.7
2397,"Friends, Lovers, and the Big Terrible Thing",Arts & Entertainment,Matthew Perry,Matthew Perry,NaN,8,49.0,11/1/2022,20.24,28587,4.6,4.7,4.6
2398,Fourth Wing (Part 2 of 2) (Dramatized Adaptation),Arts & Entertainment,Rebecca Yarros,full cast,The Empyrean,9,22.0,2/9/2024,19.56,425,4.7,4.7,4.8
2399,Third Girl from the Left,Arts & Entertainment,Christine Barker,Betsy Struxness,NaN,9,17.0,3/14/2023,19.95,23,4.9,4.9,4.8

In [1]:
# para guardar la tabla anterior en csv
df_audible.to_csv("../data/a_audible100.csv")

NameError: name 'df_audible' is not defined