In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2_best_selling = pd.DataFrame(pd.read_csv("../data/best-selling-books.csv"))

In [4]:
df_2_best_selling.head()

,Book,Author(s),Original language,First published,Approximate sales in millions,Genre
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga

In [5]:
df_2_best_selling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Book                           174 non-null    object
 1   Author(s)                      174 non-null    object
 2   Original language              174 non-null    object
 3   First published                174 non-null    int64
 4   Approximate sales in millions  174 non-null    float64
 5   Genre                          118 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.3+ KB

In [6]:
df_2_best_selling.value_counts("Genre")

Genre
Fantasy                                                                10
Novel                                                                   8
Self-help                                                               7
Children's Literature                                                   4
Historical fiction                                                      4
                                                                       ..
Young Adult novel, adventure, war, science fiction, action thriller     1
Young adult fiction                                                     1
Young adult historical novel                                            1
Young adult novel                                                       1
Young adult romantic novel                                              1
Name: count, Length: 80, dtype: int64